<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ESTADISTIKA</title>
  <meta name="description" content="let's investigate Islam">
  <meta name="theme-color" content="#1f1e1e">
  <link rel="stylesheet" href="{{ "/assets/main.css" }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "feed.xml" | relative_url }}">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  {% if page.use_math %}
    {% include mathjax_support %}
  {% endif %}
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script> -->
  <!-- <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: {
        equationNumbers: {
          autoNumber: "AMS"
        }
      },
      tex2jax: {
        inlineMath: [ ['$','$'], ['\\(', '\\)'] ],
        displayMath: [ ['$$','$$'] ],
        processEscapes: true,
      }
    });
  </script>
  <script type="text/javascript"
          src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  <script src="/assets/functions.js"></script>
</head>