<header>
    <!-- <img src="/assets/bible-psalms.jpg"> -->
    <div class="site-sidebar">
        <nav>
            <button onclick='javascript:location.href="/index.html"'>
                <i class="fas fa-home"></i>
            </button>
            <button onclick='javascript:location.href="/blog/index.html"'>
                <i class="fas fa-file-alt"></i>
            </button>
            <button onclick='javascript:location.href="#"'>
                <i class="fas fa-info"></i>
            </button>
            <button onclick='javascript:location.href="#"'>
                <i class="fas fa-phone"></i>
            </button>
        </nav>
    </div>
</header>