--- 
layout: default-blog 
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="post-header">
        <h1 class="post-title title-more-margin" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %} {{ page.date | date: date_format }}
            </time>
            {% if page.author %} <i><span class="author-name">by</span></i>
            <span class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ page.author }}</span>
            </span>
            {% endif %}
        </p>
    </div>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>
    <div class="pagination">
        <!-- {% if page.previous.url %}
            <span class="tooltip">
                <button class="previous-article" onclick='javascript:location.href="{{ page.previous.url }}"'>Previous Article</button>
                <span class="tooltiptext">{{ page.previous.title }}</span>
            </span>
        {% endif %} 
        {% if page.next.url %}
            <span class="tooltip">
                <button class="next-article" onclick='javascript:location.href="{{ page.next.url }}"'>Next Article</button>
                <span class="tooltiptext">{{ page.next.title }}</span>
            </span>
        {% endif %}  -->

        {% if page.previous.url %}
            <!-- <div style="display: inline-block; width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #fff; padding-right: 5px;">
                <a class="previous-article" href="{{page.previous.url}}"><i class="fas fa-chevron-circle-left" style="padding: 0 5px; font-size: 12.5px;"></i> {{page.previous.title}}</a>
            </div> -->
            <div style="display: inline-block; text-align: left; width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-left: 10px; padding-right: 5px; background-color: #000; color: #fff;">
                <a class="previous-article" href="{{page.previous.url}}" style="padding-left: 0px; background-color: initial;">{{page.previous.title}}</a>
            </div>
        {% endif %}
        {% if page.next.url %}
            
            <!-- <div style="width: 150px">
                <a class="next-article" href="{{page.next.url}}">
                    <div style="display: inline-block; text-align: left; width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 0 5px;">
                            {{page.next.title}} 
                    </div>
                
                    <div style="display: inline-block; text-align: right; width: 20px;">
                        <i class="fas fa-chevron-circle-right" style="padding: 0 5px; font-size: 12.5px;"></i>
                    </div>
                </a>    
            </div>                 -->
            
            <!-- <div style="display: inline-block; background-color:#000; color:#fff; width: 150px;"> -->
                <div style="display: inline-block; text-align: left; width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 0 5px; background-color: #000; color: #fff;">
                    <a class="next-article" href="{{page.next.url}}" style="padding-left: 0px; background-color: initial;">{{page.next.title}}</a>
                </div>
                <!-- <div style="display: inline-block; text-align: left;">
                    <i class="fas fa-chevron-circle-right" style="margin-top: -10px; font-size: 12.5px;"></i>
                </div> -->
            <!-- </div> -->
        
        {% endif %}
    </div>
    <div class="rss-subscribe">
        <button class="rss-subscribe-button" onclick='javascript:location.href="{{ "feed.xml" | relative_url }}"'>
            <i class="fas fa-rss" style="font-size:11px; margin: 0 2px 0 0;"></i>&nbsp;subscribe</button>
    </div>
    <br>
    {% include disqus_comments.html %}
</article>